builder==0.1.0
keras==2.12.0
lxml==4.9.2
matplotlib==3.7.1
numpy==1.23.5
opencv_python_headless==4.7.0.72
pandas==1.5.3
Pillow==9.5.0
pydensecrf==1.0rc2
PyQt5==5.15.9
PyQt5_sip==12.11.1
scikit-image
tensorflow==2.12.0
XlsxWriter